<section class="references" id="references">
  <div class="container">
    <!-- style -->
    <h2 [ngStyle]="{ color: color }">References</h2>
    <div>
      <div class="col">
        <h4>Prof. Everly Chua</h4>
        <h5>Professor in Applications Development and Emerging Technologies</h5>
        <h6>echua@hau.edu.ph</h6>
      </div>
      <hr />
      <div class="col">
        <h4>Dr. Joseph Esquivel</h4>
        <h5>Professor in Advanced Dynamic Web Applications</h5>
        <h6>jesquivel@hau.edu.ph</h6>
      </div>
      <hr />
      <div class="col">
        <h4>Asst. Prof. Jeanky Salenga-Mendez, MIT</h4>
        <h5>Professor in Web Development Portfolio</h5>
        <h6>jmendez@hau.edu.ph</h6>
      </div>
    </div>
  </div>
</section>
