<section class="skills" id="skills">
  <div class="container">
    <h2>My Skills</h2>
    <div>
      <div class="colleft">
        <h3>Graphic and Web Design</h3>
        <div class="infos">
          <p class="label">Wordpress</p>
          <div class="bar">
            <div class="skill wordpress">90%</div>
          </div>

          <p class="label">Figma</p>
          <div class="bar">
            <div class="skill figma">50%</div>
          </div>

          <p class="label">Adobe XD</p>
          <div class="bar">
            <div class="skill adobexd">50%</div>
          </div>

          <p class="label">Adobe Photoshop</p>
          <div class="bar">
            <div class="skill photoshop">100%</div>
          </div>

          <p class="label">Adobe Illustrator</p>
          <div class="bar">
            <div class="skill illustrator">90%</div>
          </div>
        </div>
      </div>

      <div class="colright">
        <h3>Programming</h3>
        <div class="infos">
          <p class="label">HTML</p>
          <div class="bar">
            <div class="skill html">90%</div>
          </div>

          <p class="label">CSS</p>
          <div class="bar">
            <div class="skill css">90%</div>
          </div>

          <p class="label">JavaScript</p>
          <div class="bar">
            <div class="skill jscript">40%</div>
          </div>

          <p class="label">Python</p>
          <div class="bar">
            <div class="skill python">80%</div>
          </div>

          <p class="label">Java</p>
          <div class="bar">
            <div class="skill java">75%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
